body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vmin;
}

/* background colour */
.towpink {
background-color: rgb(245, 153, 159);
}
/* normal text styling */
.text {
  width: 30vw;
  text-align: center;
  color: #444444;
  text-decoration: none;
  font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* hyperlink styling */
.hyperlinks {
  text-align: center;
  color: #444444;
  text-decoration: none;
  font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  word-spacing: 40px;
}

/* logo image */
.logowidth {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

/* social media links */
.socialmedia {
  width: 3vw;

}

.logo-container img {
  margin: 0px 15px;
  padding-top: 10px;
}